registry=https://registry.npmjs.org/

# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=true
strict-peer-dependencies=false

# https://pnpm.io/npmrc#shamefully-hoist
shamefully-hoist=true
